---
import { getCollection } from 'astro:content';
import MainLayout from '../../../layouts/MainLayout.astro';

import { formatPosts } from '../../../utils';
import Pagination from '../../../components/Pagination.astro';
import PodcastCard from '../../../components/PodcastCard.astro';

const allPodcasts = await getCollection('podcast', ({ id }) => {
  return id.startsWith('en/');
});

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection('podcast', ({ id }) => {
    return id.startsWith('en/');
  });

  const formattedPodcast = formatPosts(allPosts, {});

  return paginate(formattedPodcast, {
    pageSize: 5,
  });
}

const { page } = Astro.props;
const pathname = new URL(Astro.request.url).pathname.split('/');
const firstPath = pathname[1];

const { currentPage, lastPage } = page;
const { current, prev, next } = page.url;

import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<MainLayout title="podcast">
  <div class="mt-3 text-center">
    <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      {t('podcast.title')}
    </h1>
    <main class="mt-16 flex flex-col">
      <ol class="flex flex-col space-y-8">
        {
          page.data.map((post) => (
            <li>
              <PodcastCard
                title={post.data.title}
                description={post.data.description}
                date={post.data.date}
                url={`/podcast/${post.slug.substring(3)}`}
                {...{ t, lang }}
              />
            </li>
          ))
        }
      </ol>
    </main>
    <div class="mt-16">
      {
        allPodcasts.length > 5 && (
          <div>
            <Pagination
              length={lastPage}
              currentUrl={current}
              currentPage={currentPage}
              firstUrl={`/${firstPath}`}
              prevUrl={prev}
              nextUrl={next}
            />
          </div>
        )
      }
    </div>
  </div>
</MainLayout>
