---
interface Props {
  name: string;
  url?: string;
}

const { name, url } = Astro.props;

const borderConfig = {
  devTips: 'border-amber-400',
  lifeHacks: 'border-red-400',
  englishLearnings: 'border-blue-400',
};

const textConfig = {
  devTips: 'text-amber-400',
  lifeHacks: 'text-red-400',
  englishLearnings: 'text-blue-400',
};

const bgConfig = {
  devTips: 'hover:bg-amber-400',
  lifeHacks: 'hover:bg-red-400',
  englishLearnings: 'hover:bg-blue-400',
};
---

<a
  href={url}
  class:list={[
    'px-2 h-6 border rounded-md group shadow-md transition duration-300 ease-in-out bg-white',
    `${borderConfig[name]}`,
    `${bgConfig[name]}`,
  ]}
>
  <span class:list={[`${textConfig[name]}`, 'group hover:text-white']}>
    {name}
  </span>
</a>
