---
const { title, tags, image, slug, date } = Astro.props;
import { Image } from 'astro:assets';
import { formatDate } from '../utils';

import Tag from './style/Tag.astro';
import Link from './style/Link.astro';
---

<article
  class="flex rounded-lg border-1 border-line flex-col items-start shadow-xl border-line mx-5 p-5 my-5 border-2 gap-4"
>
  <ul>
    <Link style="card" url={`/podcast/${slug}`}>{title}</Link>
    <div class="text-sm text-secondary">
      <time date-time={date}> {formatDate(date)}</time>
    </div>
  </ul>
  <Image
    src={image.src}
    alt={image.alt}
    width={400}
    height={100}
    class="rounded"
  />

  <div class="flex gap-2 w-full text-sm">
    {tags.map((tag) => <Tag name={tag}>{tag}</Tag>)}
  </div>
</article>
