---
const { title, tags, description, slug, date, t } = Astro.props;

import { formatDate } from '../utils';

import Tag from './style/Tag.astro';

import IconCalendar from '~icons/tabler/calendar-plus';
import IconTag from '~icons/tabler/tag';
import IconPodcast from '~icons/tabler/brand-apple-podcast';

import Button from './style/Button.astro';
---

<div
  class="flex rounded-lg flex-col items-start shadow-lg border-line mx-5 p-5 my-6 gap-4 border-s-8 border-s-slate-100 group hover:border-s-cyan-200 relative"
>
  <div
    class="absolute text-slate-100 text-9xl -z-10 bottom-5 right-5 group-hover:text-cyan-100"
  >
    <IconPodcast />
  </div>
  <h2 class="text-xl font-semibold my-3">{title}</h2>
  <div class="text-sm text-secondary flex gap-3">
    <IconCalendar />
    <time date-time={date}> {formatDate(date)}</time>
  </div>
  <div class="flex gap-3 w-full text-sm text-secondary flex-wrap">
    <IconTag />
    {tags.map((tag) => <Tag name={tag}>{tag}</Tag>)}
  </div>

  <p class="my-3">
    {description}
  </p>
  <Button url={`/podcast/${slug}`}>
    {t('podcast.readMore')}
  </Button>
</div>
