---
const { title, tags, description, image, slug } = Astro.props;
import { Image } from 'astro:assets';
---

<article
  class="flex rounded-lg border-1 border-line flex-col items-start justify-center bg-darkBlue shadow-[0_15px_35px_0px_rgba(0,0,0,0.05)] border-line mx-5 p-5 z-10 rotate-2"
>
  <Image src={image.src} alt={image.alt} width={250} height={250} />
  <h3 class="text-l py-10">{title}</h3>
  <p>{description}</p>
  {tags.map((tag) => <p>{tag}</p>)}
  <a href={`podcast/${slug}`}>Read more</a>
</article>
