---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import { getCollection } from 'astro:content';
import { formatPosts } from '../utils';

import EpisodeCard from './EpisodeCard.astro';
import TagCloud from './TagCloud.astro';

const podcasts = await getCollection('podcast');
const formatedLatestedPodcasts = formatPosts(podcasts, { limit: 3 });

import Button from './style/Button.astro';
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-0 md:pb-24"
>
  <div class="pb-20 block xl:block xl:absolute top-[120px] right-[20%]">
    <Image
      src={logo}
      alt="podcast logo"
      width={200}
      class="rounded-2xl shadow-xl"
    />
  </div>
  <div>
    <h2
      class="font-extrabold leading-tight lg:mt-10 md:text-5xl mt-5 text-4xl xl:text-6xl"
    >
      一档由两位网上邻居创办的
      <ul
        class="inline-block relative h-12 align-bottom overflow-hidden lg:h-14"
      >
        <li class="translate-y-full animate-first">
          <span class="text-violet-800">泛开发</span>
        </li>
        <li class="translate-y-0 animate-second">
          <span class="text-cyan-800">泛科技</span>
        </li>
      </ul>
      播客计划。
    </h2>
  </div>
</main>

<div class="my-8 flex flex-col sm:flex-row gap-3">
  <Button>
    <a href="/about">了解更多</a>
  </Button>
</div>

<h2 class="text-lg lg:text-xl font-bold text-center lg:text-left hidden">
  最新播客
</h2>

<div
  class="grid md:grid-cols-2 lg:grid-cols-3 justify-items-center place-content-between"
>
  {
    formatedLatestedPodcasts.map((podcast) => (
      <EpisodeCard
        title={podcast.data.title}
        tags={podcast.data.tags}
        description={podcast.data.description}
        slug={podcast.slug}
        date={podcast.data.date}
      />
    ))
  }
  <p class="text-lg mt-8 text-slate-600">
    <TagCloud />
  </p>
</div>
