---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import { getCollection } from 'astro:content';
import { formatPosts } from '../utils';

import EpisodeCard from './EpisodeCard.astro';

const podcasts = await getCollection('podcast');
const formatedLatestedPodcasts = formatPosts(podcasts, { limit: 3 });

import Button from './style/Button.astro';
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 px-6"
>
  <div class="py-6 md:order-1 hidden md:block">
    <Image
      src={logo}
      width={300}
      alt="podcast logo"
      class="rounded-2xl shadow-xl"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tight"
    >
      网上邻居
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      欢迎收听网上邻居，这是一档由两位网上邻居创办的泛开发、泛科技的播客计划。
      <br />播客将以每两周的频率随机更新。<br />欢迎订阅收听。
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Button>
        <a href="/about">了解更多</a>
      </Button>
    </div>
  </div>
</main>
<div class="'mt-16 md:mt-0 px-6">
  <h2 class="text-4xl lg:text-5xl font-bold lg:lg:tracking-tight">
    最新播客！
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  </p>
</div>
<div class="grid md:grid-cols-3 mt-16 justify-items-center">
  {
    formatedLatestedPodcasts.map((podcast) => (
      <EpisodeCard
        title={podcast.data.title}
        tags={podcast.data.tags}
        image={podcast.data.image}
        slug={podcast.slug}
        date={podcast.data.date}
      />
    ))
  }
</div>
