---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import { getCollection } from 'astro:content';
import { formatPosts } from '../utils';

import EpisodeCard from './EpisodeCard.astro';
import TagCloud from './TagCloud.astro';

const podcasts = await getCollection('podcast');
const formatedLatestedPodcasts = formatPosts(podcasts, { limit: 3 });

import Button from './style/Button.astro';
---

<div class="hidden xl:block xl:absolute top-[120px] right-[20%]">
  <Image
    src={logo}
    width={250}
    alt="podcast logo"
    class="rounded-2xl shadow-xl"
  />
</div>
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-0 md:pb-24"
>
  <div class="pb-20 block xl:hidden w-6/12 md:w-4/12 lg:w-5/12">
    <Image src={logo} alt="podcast logo" class="rounded-2xl shadow-xl" />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tight lg:block lg:pb-6 hidden"
    >
      网上邻居
    </h1>
    <p class="text-lg text-slate-600 max-w-xl leading-loose">
      是一档由两位网上邻居创办的泛开发、泛科技的播客计划。
      <br />播客将以每两周的频率随机更新。<br />欢迎订阅收听。
      <span class="i-tabler-moon"></span>
    </p>
    <div class="mt-8 flex flex-col sm:flex-row gap-3">
      <Button>
        <a href="/about">了解更多</a>
      </Button>
    </div>
  </div>
</main>
<div class="'mt-16 md:mt-0 px-6">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">最新播客！</h2>
</div>
<div
  class="grid md:grid-cols-2 lg:grid-cols-3 mt-8 justify-items-center place-content-between"
>
  {
    formatedLatestedPodcasts.map((podcast) => (
      <EpisodeCard
        title={podcast.data.title}
        tags={podcast.data.tags}
        image={podcast.data.image}
        slug={podcast.slug}
        date={podcast.data.date}
      />
    ))
  }
  <p class="text-lg mt-8 text-slate-600">
    <TagCloud />
  </p>
</div>
