---
import navData from '../data/navData';

import MenuToggle from './MenuToggle';
import ThemeToggle from './ThemeToggle';
import Link from './style/Link.astro';

import IconLogo from '~icons/my-icons/logo';
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const currentPath = new URL(Astro.request.url).pathname;
---

<header class="bg-[#f3f4f5]">
  <container
    class="max-w-screen-xl mx-auto flex justify-between items-center m-0 p-0"
  >
    <div class="flex items-center justify-between my-5">
      <a href="/">
        <IconLogo
          class="pt-2 ml-4 fill-green"
          style={{ width: '3em', color: 'red' }}
        />
      </a>
    </div>
    <nav class="hidden md:flex w-auto mt-2 mt-0">
      <ul class="flex flex-row gap-8">
        <Link url={translatePath('/')} {currentPath}>{t('nav.home')}</Link>
        <Link url={translatePath('/about')} {currentPath}>
          {t('nav.about')}
        </Link>
        <Link url={translatePath('/podcast')} {currentPath}>
          {t('nav.podcast')}
        </Link>
        <!-- {
          navData.map((item) => (
            <Link url={item.path} {currentPath}>
              {item.name}
            </Link>
          ))
        } -->
      </ul>
    </nav>
    <div class="md:flex hidden mr-4">
      <ThemeToggle client:load />
    </div>
    <div class="md:hidden mr-4">
      <MenuToggle client:load />
    </div>
  </container>
</header>
