---
import { Icon } from 'astro-icon';
const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } =
  Astro.props;
const paginationList: number[] = Array.from(
  { length },
  (_, index) => index + 1
);
---

<nav aria-label="Blog pages" class="flex justify-center py-2">
  {
    firstUrl == currentUrl ? (
      <Icon name="fa6-regular:circle-left" class="blue" />
    ) : (
      <Icon name="fa-regular:arrow-alt-circle-left" class="w-6">
        <a href={firstUrl} class="pagination__link" />
      </Icon>
    )
  }

  {
    prevUrl ? (
      <a href={prevUrl} class="pagination__link">
        <i class="pi-angle-left" />
      </a>
    ) : (
      <span class="pagination__link disabled">
        <i class="pi-angle-left" />
      </span>
    )
  }
  <ol class="flex">
    {
      paginationList.map((num) => (
        <li class="px-2 focus:ring-2">
          <a href={`${firstUrl}${num == 1 ? '' : '/' + num}`}>{num}</a>
        </li>
      ))
    }
  </ol>

  {
    !nextUrl ? (
      <span class="pagination__link disabled">
        <i class="pi-angle-right" />
      </span>
    ) : (
      <a href={nextUrl} class="pagination__link">
        <i class="pi-angle-right" />
      </a>
    )
  }

  {
    lastUrl == currentUrl ? (
      <span class="pagination__link disabled">
        <i class="pi-angle-right" />
        <i class="pi-angle-right" />
      </span>
    ) : (
      <Icon name="fa-regular:arrow-alt-circle-right" class="w-6">
        <a href={lastUrl} class="pagination__link" />
      </Icon>
    )
  }
</nav>
