---
import { formatDate } from '../utils';
const { title, date, slug, description } = Astro.props;
---

<article class="md:grid md:grid-cols-4 md:items-baseline">
  <div class="md:col-span-3 relative flex flex-col items-start">
    <h2 class="text-3xl font-semibold leading-tight">{title}</h2>
    <time
      class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm"
      datetime={date}>{formatDate(date)}</time
    >
    <p class="relative z-10 mt-2 text-sm">{description}</p>
    <div class="relative z-10 mt-4 flex items-center text-sm font-medium">
      <a href={`podcast/${slug}`}><i> Read article</i></a>
    </div>
  </div>
  <time
    class="mt-1 hidden md:block relative z-10 order-first mb-3 flex text-center text-sm"
    datetime={date}>{formatDate(date)}</time
  >
</article>
