---
import SEO from '../components/SEO.astro'

const { title, description, image, data, robots } = Astro.props
import { ViewTransitions } from 'astro:transitions'
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>{title}</title>
  <meta name='description' content={description} />
  <!-- Google tag (gtag.js) -->
  <script
    type='text/partytown'
    async
    src='https://www.googletagmanager.com/gtag/js?id=G-J4TLRZ93Z3'></script>
  <script type='text/partytown'>
    // @ts-nocheck
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())

    gtag('config', 'G-J4TLRZ93Z3')
  </script>
  <script is:inline>
    const theme = () => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme')
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark'
      }
      return 'light'
    }

    const getTheme = () => {
      const currentTheme = theme()
      if (currentTheme === 'light') {
        document.documentElement.classList.remove('dark')
      } else {
        document.documentElement.classList.add('dark')
      }
    }

    window.addEventListener('DOMContentLoaded', () => getTheme())
    document.addEventListener('astro:after-swap', () => getTheme())
  </script>
  <SEO {title} {description} url={Astro.url} {image} {data} {robots} />
  <ViewTransitions />
</head>
