---
import SEO from '../components/SEO.astro'

const { title, description, image, data, robots } = Astro.props
import { ViewTransitions } from 'astro:transitions'
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>{title}</title>
  <meta name='description' content={description} />
  <script is:inline>
    const theme = (() => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme')
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark'
      }
      return 'light'
    })()

    if (theme === 'light') {
      document.documentElement.classList.remove('dark')
    } else {
      document.documentElement.classList.add('dark')
    }
  </script>
  <SEO {title} {description} url={Astro.url} {image} {data} {robots} />
  <ViewTransitions />
</head>
