---
import SEO from '../components/SEO.astro';

const { title, description, image, data, robots } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />

  <SEO {title} {description} url={Astro.url} {image} {data} {robots} />
</head>
